/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #242424;
}

div {
  color: #707070;
}

#flash {
  display: none;
  background-color: #005a00;
  font-weight: 900;
  padding: 20px 0 20px 0;
  font-size: 30px;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
}

#game {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

#title {
  margin-top: 100px;
  margin-bottom: 30px;
  font-size: 30px;
  text-align: center;
  color: white;
}

#board {
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  width: 100%;
}

.spot {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  width: 100%;
  background-color: black;
  font-size: 50px;
  padding: 50px 0 50px 0;
  border: 0px;
}

#a1 {
  border-bottom: 5px solid #707070;
  border-radius: 30px 0 0 0;
}

#a2 {
  border-right: 5px solid #707070;
  border-left: 5px solid #707070;
  border-bottom: 5px solid #707070;
}

#a3 {
  border-bottom: 5px solid #707070;
  border-radius: 0 30px 0 0;
}

#b1 {
  border-bottom: 5px solid #707070;
}

#b2 {
  border-right: 5px solid #707070;
  border-left: 5px solid #707070;
  border-bottom: 5px solid #707070;
}

#b3 {
  border-bottom: 5px solid #707070;
}

#c1 {
  border-radius: 0 0 0 30px;
}

#c2 {
  border-right: 5px solid #707070;
  border-left: 5px solid #707070;
}

#c3 {
  border-radius: 0 0 30px 0;
}

#reset-div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  margin-top: 50px;
}

#reset {
  width: 100%;
  padding: 20px 0 20px 0;
  font-size: 30px;
  color: #707070;
  background-color: black;
  border: 4px solid black;
  border-radius: 20px;
}

#reset:hover {
  color: white;
  border: 4px solid white;
}

.p-info {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.p-title {
  color: white;
  font-size: 40px;
  margin-bottom: 25px;
  text-align: center;
}

.input-div {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1.35fr;
      grid-template-rows: 1fr 1.35fr;
  width: 70%;
}

.p-input {
  background-color: black;
  width: 100%;
  padding: 10px 0 10px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 20px;
  color: white;
  border: 0px;
}

.p-btn {
  background-color: black;
  color: #707070;
  width: 100%;
  font-size: 18px;
  font-weight: 900;
  border: 0px;
  margin-top: 20px;
  border: 3px solid black;
}

.p-btn:hover {
  border: 3px solid white;
  color: white;
}

.score {
  color: white;
  background-color: black;
  padding: 10px 15px 10px 15px;
  border-radius: 10px;
  margin-top: 50px;
  font-size: 40px;
}

#p1-score {
  background-color: white;
  color: black;
  font-weight: 900;
  border-radius: 10px;
  padding: 0px 10px 0px 10px;
}

#p2-score {
  background-color: white;
  color: black;
  font-weight: 900;
  border-radius: 10px;
  padding: 0px 10px 0px 10px;
}
/*# sourceMappingURL=styles.css.map */